.flatpickr-calendar {
  background-color: #f5f5f5;
  border-radius: 8px;
}

.flatpickr-day.today {
  border: 1px solid #4e75ff;
}

.flatpickr-day:hover {
  background-color: #c1c1c1;
}

.flatpickr-day.selected {
  background-color: #4e75ff;
}
