.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 360px;
  margin-left: 156px;
  margin-top: 36px;
  color: #2e2f42;
}

.form-field {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  margin-bottom: 16px;
  text-align: left;
}

.form-field input {
  height: 40px;
  padding: 8px 16px;
  border: 1px solid #808080;
  border-radius: 4px;
  font: inherit;
}

.form-field input:hover {
  border-color: #000;
}

.form-field input:focus {
  border-color: #4e75ff;
  outline: none;
}

.form-fieldset {
  width: 100%;
  min-height: 64px;
  margin: 0 0 24px;
  border: 1px solid #808080;
  border-radius: 4px;
}

.form-fieldset:hover,
.form-fieldset:focus {
  border-color: #000;
}

.form-fieldset-legend {
  text-align: left;
  margin-left: 8px;
}

.form-fieldset-radios {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 48px;
  min-height: 32px;
}
.form-fieldset-radio-label {
  display: flex;
  align-items: center;
  gap: 4px;
}

.form-fieldset input {
  width: 20px;
  height: 20px;
}

.form-button {
  width: 100%;
  height: 40px;
  padding: 8px 16px;
  font-weight: 500;
  color: #fff;
  background-color: #4e75ff;
  border-radius: 8px;
  border: none;
}
.form-button:hover {
  background-color: #6c8cff;
}
